.container {
    display: flex;
    justify-content: space-between;
  }
  
  .jumbotron {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .sidebar {
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
  }

  
  .button-list {
    list-style: none;
    padding: 0;
  }
  
  .button-list-item {
    margin-bottom: 5px;
  }
  
  .button-list-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    color: blue; /* color azul para los enlaces */
  }
  
  .button-list-button:hover {
    color: black;
  }